/* Reset default margin and padding */
body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set up basic font and text color */
body {
  font-family: 'Titillium Web', sans-serif;
  color: #FFFFFF;
  background-color: #171717;
}

/* Header styles */
.app-header {
  background-color: #000; /* Change this to your header color */
  padding: 1rem;
  text-align: center;
}

/* Main content styles */
.app-main {
  padding: 1rem;
}

/* Content Grid styles */
.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 1rem;
}

/* Content Item styles */
.content-item {
  background-color: rgba(0, 0, 0, 0.2); /* Adjust this as needed */
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.content-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.content-title {
  margin-top: 0.5rem;
}

/* Search Bar styles */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: fixed; /* Change this to "fixed" */
  top: 0;
  left: 0; /* Add this line to keep it aligned to the left */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  padding: 0.5rem 1rem;
}

.search-bar input {
  flex: 1; /* Expand the input to fill remaining space */
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4); /* Darken the background color */
  color: #FFFFFF;
  /* Add placeholder text */
  placeholder: "Search romantic comedy";
}

.search-bar .back-symbol,
.search-bar .search-symbol {
  font-size: 1.5rem; /* Adjust the size of the symbols */
  color: white; /* Set color to white */
  margin-right: 1rem; /* Add space between symbols and input */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Footer styles */
.app-footer {
  background-color: #000; /* Change this to your footer color */
  padding: 1rem;
  text-align: center;
}
.search-text {

  padding-right: 1rem; /* Add padding to all sides */
  
}

/* Media Query for Mobile Portrait View */
@media (max-width: 480px) {
  /* Adjust styles for smaller screens if needed */
}
